*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

:root{
    --purple-1 : #4A2C6E;  /*  for header  */
    --dark-purple : #382B49; /*  for sidebar  */
    --text-primary:#5C2D95;  /*  for text  */
    --anti-flash-white:#F7F7F0;
    --azureish-white : #E1E1EF;
    --sidebar-width : 290px;
    --header-height : 116px
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
body{
    background-color: #EEF0F6;
}
.sidebar{
    background-color: var(--dark-purple);
    position: fixed;
    height: 100vh;
    width: var(--sidebar-width);
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    overflow: auto;
   
}
.sidebar::-webkit-scrollbar{
    width: 0px;
}
.sidebar-hide{
    /* transform:translateX(-100%) */
    left: -100%;
}

.sidebar-double{
    left : 0%;
}
.layer{
    position: fixed;
    top: 0;
    height: 0%;
    width: 0%;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 2;
    display: none;
}
.appear{
    display: block !important;
}
.logo{
    margin-top: 63px;
    margin-left: calc(var(--sidebar-width) / 5)  ;
}
.sidebar-menu ul {
    margin-top: 44px;
}
.sidebar-menu ul li {
    display: flex;
    align-items: center;
    height: 45px;
}
.sidebar-link-icon{
    margin-left: calc(var(--sidebar-width) / 11);
    margin-right: 21px;
    height: 15px;
    width: 19px;
}
.sidebar-image{
    max-width: 100%;
}
a.sidebar-link{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    color: var(--anti-flash-white);
    font-weight: 600;
    text-decoration: none;
    font-size: 12.5px;
}
a.sidebar-link.active{
    background-color: var(--purple-1);
    color: white;
    font-size: 14px;
}
a.sidebar-link:hover{
    background-color: var(--purple-1);
    color: white;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--purple-1);
    height: var(--header-height);
    padding: 0 20px;
    width: 100vw - var(--sidebar-width);
    margin-left: var(--sidebar-width);
    position: sticky;
    top: 0;
    z-index: 4;
}
.full-header{
    margin-left: 0;
}
.action-tools{
    display: flex;
    position: relative;
}
.hamburger{
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-right: 25px;
    /* margin-left: 55px; */
}
.bar{
    margin-right: 11px;
}
.hamburger div{
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.search-icon-circle{
    display: none;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 16px;
    color: black;
    margin-right: 15px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--anti-flash-white);
}
.search-bar{
    /* margin-left: 35px; */
    height: 52px;
    width: 557px;
    position: relative;
    display: flex;
    align-items: center;
}
.search-input{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 6%;
}
.search-img{
  position: absolute;
  z-index: 1;
  left: 3%; 
}
.header-menu{
    display: flex;
    align-items: center;
    /* margin-left: 60px; */
    /* margin-right: 102px; */
}
.header-menu  li{
    margin-right: 39px;
}
.header-menu li:last-child{
    margin-right: 0;
}
.header-menu li a{
    color: var(--anti-flash-white);
    font-size: 12px;
    text-decoration: none;
}

.header-menu li a.active{
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.id-path{
    /* margin-left: 100px; */
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    height: 100%;
}
.log-title{
    font-size: 14px;
    font-weight: bold;
}
.id-path img{
    margin-right: 22px;
}
.id-path .circle{
    height: 68px;
    width: 68px;
    background-color: aliceblue;
    border-radius: 50%;
    margin-left: 12px;
}
.inner-section{
    display: flex;
    flex-direction: column;
    margin-left: var(--sidebar-width);
    background:#EEF0F6;
    padding-left: 55px;
    /* height: calc(100vh) ; */
    padding-top: 34px;
    padding-bottom: 10px;
    padding-right: 15px;
}
.full-inner-section{
    margin-left: 0;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: calc(100vw - var(--sidebar-width) - 20px); */
    width: 100%;
}
.card{
   padding: 12 7px 7px 7px;
    
    border-radius: 5px;
    color: var(--text-primary);
}
.card1{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background: white;
    color: var(--text-primary);
    border-radius: 5px;
    height: 389px;
    width: 927px;
}
.card1-section1{
    padding-left: 30px;
    padding-top: 8px;
    font-weight: 600;
}
.card1-section2{
    display: grid;
   
    grid-template-rows: repeat(3,1fr);
    row-gap: 14px;
    height: 100%;
    width: 250px;
    
}
.card1-section2-box{
    background-color: var(--azureish-white);
    border-radius: 10px;
    padding-left: 26px;
    padding-top: 19px;
} 
.card1-section2-box .title{
    color: var(--text-primary);
    font-size: 14.86px;
}
.card1-section2-box .number{
    /* margin-top: 20px; */
    font-size: 32px;
    font-weight: 600;
}
 
/* ==== card2 ==== */

.card2{
    margin-top: 20px;
    width: 112px;
    height: 114px;
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    row-gap: 12px;
}
.card2-btn{
    background: var(--azureish-white);
    width: 100%;
    border-radius: 10px;
    border: 0;
    color: var(--text-primary);
    font-size: 12px;
}
.card2-btn.active, .card2-btn:hover{
    background-color: var(--text-primary);
    color: white;
    cursor: pointer;
}
.card2-btn:active{
    transform: scale(.95);
}

/* ==== card 3 */

.card3{
    height: 389px;
    width: 412px;
    background: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 13px;
}
.card3-heading{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card3-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.card3-box section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card3-box-circle{
    background: var(--azureish-white);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.card3-box-content{
    display: flex;
    flex-direction: column  ;
   justify-content: center;
}
.box3-content-heading{
    font-size: 13px;
    font-weight: 600;
}
.box3-para{
    font-size: 11px;
}
.card3-payment{
    font-size: 10px;
    font-weight: 600;
}
/* ==== card4  ==== */
.row2{
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.card4{
    height: 340px;
    width: 602px;
    
    /* padding: 18px 10px 10px 20px; */
    
}
.card4 section.card4-section1{
    /* max-height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 18px 17px 10px 20px;
}
.card4-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  /* padding: 18px 10px 10px 20px; */
}
.card4-box-heading{
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}
.card4-box-stats{
    display: flex;
    align-items: center;
    line-height: 1;
}
.card4-box-stats img{
   max-width: 100%;
   margin-right: 10px;
}
.stats-time{
    font-size: 12px;
}
.stats-profit{
    font-size: 17px;
    font-weight: bold;
}.card4-profit{
    font-size: 20px;
    font-weight: bold;
}.card4-box2{
    height: 80px;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    background: var(--text-primary);
    color: white;
    display: flex;
    justify-content: space-between;
}.card4-box2-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}.card4-box2-stats{
    display: flex;
    align-items: center;
}.stats-box2{
    line-height: 1;
}.card4-box2-heading{
    font-size: 12px;
    font-weight: bold;
}
.stats-box2 .stats-time{
    font-size: 10px;
}.stats-box2 .stats-profit{
    font-size: 12px;
}
.card4-box2-box img{
    max-width: 100%;
    height: 35px;
    margin-right: 10px;
}

/* ==== card5 ==== */

.card5,.card6{
    height: 340px;
    width: 412px;
    padding: 12px 10px 10px 12px;
    background: white;
    position: relative;
}.card-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
.card5-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #00000014;
    padding-bottom: 16px;
    padding-right: 7px;
}
.card5-box section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card5-box-circle{
    background: var(--azureish-white);
    height:33px;
    width: 57px;
    border-radius: 50%;
}
.card5-box-content{
    display: flex;
    flex-direction: column  ;
   justify-content: center;
   padding-left: 15px;
}
.box5-content-heading{
    font-size: 13px;
    font-weight: 600;
}


.box-subtitle{
    font-size: 9px;
    font-weight: 600;
}.box5-para{
    font-size: 7px;
    margin-top: 5px;
}

.tickets{
    position: absolute;
    bottom: 10px;
    font-weight: 700;
    font-size: 10px;
    text-align: end;
    right: 10px;
}

/* ==== card 6 === */

.card6-title{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}
.card6-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 15px;
  border-radius: 10px;
}
.card6-box:nth-child(even){
    background: #d0d6e72d;
}
.box6-heading{
    font-size: 11px;
    font-weight: 600;
}
.box6-heading ~ div{
    font-size: 9px;
}
.box6-date{
    font-size: 8px;
    font-weight: 600;
}
.box6-payment{
    font-size: 9px;
    font-weight: 600;
}

#chart{
    margin-left: -35px;
    
}